<h1><%= @task.title %></h1>

<div class="alert alert-secondary" role="alert">
  <%= @task.details %>
</div>

<div class="complete">
  <% if @task.completed %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
      <label class="form-check-label" for="defaultCheck2">
        This task is completed
      </label>
    </div>

  <% else%>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" disabled>
      <label class="form-check-label" for="defaultCheck1">
        This task is not completed
      </label>
    </div>
  <% end %>
</div>

<div class='btn btn-primary'>
  <%= link_to "<< List", tasks_path %>
</div>
<div class='btn btn-secondary'>
  <%= link_to "Edit", task_edit_path %>
</div>
<div class='btn btn-danger'>
  <%= link_to "Delete", task_path(@task.id),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
</div>
